@font-face {
    font-family:Lato-Black;
    src: url(../font/Lato-Black.ttf);
}
@font-face {
    font-family:Lato-Bold;
    src: url(../font/Lato-Bold.ttf);
}
@font-face {
    font-family:Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
}
@font-face {
    font-family:Lato-Semibold;
    src: url(../font/Lato-Semibold.ttf);
}
*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #ffffff;
}
/* share class */
.lato-black{
    font-family:Lato-Black;
    color: #272727;
    font-size: 75px;
    font-weight: 900;
}
.Lato-regular{
    font-family:Lato-Regular;
    color: #7C7778;
    font-size: 16px;
    font-weight: 400;
}
.btn-button{
    padding: 15px 30px;
    font-family:Lato-Bold;
    color: #FFFFFF;
    font-size: 20px;
    font-size: 700;
    background-color: #E55473;
    border-style: none;
    border-radius: 10px;
}
.btn-button:hover{
    color: #E55473;
    background-color: #272727;
    transition-duration: .3s;
}
/* banner section start */
header{
    padding-top: 40px;
    background-color: #FCEEF1;
}
.header-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    width: 50%;
}
.header-text p{
    padding: 40px 0;
}
.header-img{
    display: flex;
}
/* responsive device */
/* mobile device */
@media screen and (max-width:576px) {

    header{
         padding-top: 50px;
         background-color: #FCEEF1;
    }
    .header-container{
         display: block;

}
    .header-text h1{
        font-size: 40px;
    }
    .header-text{
         width: 100%;
}
 .header-img{
    margin-top: 20px;
 }
 .btn-button{
    padding: 10px 20px;
    font-size: 18px; 
}
 
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px){

    .header-text h1{
        font-size: 50px;
    } 
}
/* banner section end */

/* Our Featured Flowers section start */
#featured{
    margin: 50px 0;
}
.featured-container{
    margin: 0 auto;
    width: 90%;
}
.our-featured{
    text-align: center;
}
.our-featured h2{
    font-size: 40px;
}
.our-featured p{
    padding: 20px 0;
}
.pink1{
    background-color: #f2dee7;
}
.pink2{
    background-color: #d9eff1;
}
.pink3{
    background-color: #e3ebdb;
}
.item-flower{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
}
.pink-img{
    width: 32%;
}
.img-item{
    display: flex;
    justify-content: center;
    height: 500px;
    border-radius: 49% 49% 0 0 ;
}
.img-item img{
    padding: 100px 70px 0 70px;
}
.pink-img p{
    margin: 10px 0 5px 0;
    font-family:Lato-Bold;
    font-size: 24px;
    color: #272727;
    text-align: center;
}
.desh{
    margin: 0 auto;
    background-color: #272727;
    height: 1px;
    width: 45%;
}
.same-day{
    margin-top: 70px;
    padding: 70px 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
}
.same-day-item{
    width: 27%;
    text-align: center;
}
.same-day-item img{
    width: 80px;
}
.same-day-item h6{
    font-family:Lato-Semibold;
    font-size: 20px;
    color: #272727;
    font-weight: 500;
}
/* responsive */
/* mobile device */
@media screen and (max-width:576px){
    .our-featured h2{
    font-size: 25px;
    }
    .item-flower{
        display: block;
    }
    .pink-img{
        margin-top: 20px;
        width: 100%;
    }
    .img-item img{
        padding: 100px 10px 0 10px;
    }
    .pink-img p{
        font-size: 20px;
    }
    .same-day{
        display: block;
    }
    .same-day-item{
        margin-top: 30px;
        width: 100%;
    }


}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
    
    .img-item img{
        padding: 100px 0px 0 0px;
    }

}
/* Our Featured Flowers section end */
/* hot deal section start */
#hot{
    margin-top: 100px;
    background-color: #FEF6F8;
}
.hot-container{
    margin: 0 auto;
    padding: 50px 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-text{
    width: 45%;
    text-align: center;
}
.hot-text h2{
    font-size: 40px;
}
.hot-text h2 span{
    color: #E55473;
}
.hot-text p{
    padding: 20px 0;
}
/* responsive */
/* Mobile device */
@media screen and (max-width:576px){
    #hot{
        margin-top: 50px;
    }
    .hot-container{
        flex-direction: column;
    }
    .hot-text{
        width: 100%;
    }
    .hot-text h2{
        font-size: 30px;
    }


}
/* hot deal section end */
/* instagram section start */
#insta{
    margin: 50px 0;
}
.instagram-container{
    width: 90%;
    margin: 0 auto;
}
.instagram-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     gap: 20px;
}
/* responsive */
/* mobile */
@media screen and (max-width:576px){
    .instagram-img{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
    .instagram-img{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* instagram section end */
/* Get The Latest Deals section start */
#get{
    margin: 50px 0;
}
.get-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    background-image: url(../asset/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
form input{
    margin-right: 20px;
    padding-left: 15px;
    width: 700px;
    height: 57px;
    outline: none;
    border-radius: 10px;
    border-style: none;
    background-color: #FFFFFF;
    font-size: 20px;
    
}
/* responsive */
/* mobile */
@media screen and (max-width:576px){
   
    form{}
    form button{
        margin-top: 20px;
        display: block;
    }
    form input{
    display: block;
    margin-right: 20px;
    padding-left: 15px;
    width: 250px;
    font-size: 15px;
    }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px){
   form input{
    display: block;
    margin-right: 20px;
    padding-left: 15px;
    width: 500px;
    font-size: 15px;
    }
    form button{
        margin-top: 20px;
    }
}
/* Get The Latest Deals section end */
/* footer section start */
footer{
    padding: 50px 0;
    background-color: #111010;
}
.fl{
    color: #E55473;
}
.shop{
    color: #FFFFFF;
}
/* footer section end */
